<%- include('./partials/Head.ejs') %> 
<%- include('./partials/Header.ejs') %> 


<div class="row">
    <div class="container">
        <h1 class="text-center">Evaluación</h1>
    </div>
</div>



<%- include("./partials/Footer.ejs") %>
