<%- include('./partials/Head.ejs') %> 
<%- include('./partials/Header.ejs') %>  
        <div class="row">
            <div class="container">
                <h1 class="text-center m-5">Logín Karate</h1>
            </div>
        </div>
    
    <div class="wrapper fadeInDown">
        <div id="formContent">

          <div class="fadeIn first m-5">
            <img src="https://www.wallpaperkiss.com/wimg/b/243-2435317_big.jpg" id="icon" alt="User Icon" />
          </div>
      
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
        </div>
      </div>

<%- include("./partials/Footer.ejs") %>