<%- include('./partials/Head.ejs') %> 
<%- include('./partials/Header.ejs') %> 


<div class="row">
    <div class="container border border-dark">
        <h1 class="text-center"><%= title %>  </h1>
        <div class="row  my-3 m-auto">
            <div class="col">
                <div class="form-group">
                    <select id="categoria" class="form-select form-select-sm"
                        aria-label=".form-select-sm example">
                        <option selected>COMPETIDOR</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <select id="categoria" class="form-select form-select-sm select-category"
                        aria-label=".form-select-sm example">
                        <option selected>CATEGORIAS</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <select id="categoria" class="form-select form-select-sm"
                        aria-label=".form-select-sm example">
                        <option selected>NOMBRE KATA</option>
                        <option value="1">ROUND</option>
                        <option value="2">DESEMPATE</option>
                        <option value="3">FINAL</option>
                    </select>
                </div>
            </div>
        </div>
        <!--PUNTAJES-->
        <div class="col-12">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ASPECTO</th>
                        <th scope="col">Arbitro 1</th>
                        <th scope="col">Arbitro 2</th>
                        <th scope="col">Arbitro 3</th>
                        <th scope="col">Arbitro 4</th>
                        <th scope="col">Arbitro 5</th>
                        <th scope="col">Arbitro 6</th>
                        <th scope="col">Arbitro 7</th>
                        <th scope="col">Factor</th>
                        <th scope="col">Resultado</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th scope="row" class="text-left">FISICO</th>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-left">TECNICO</th>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                    </tr>                    
                </tbody>
            </table>
            <div class="row">
                <div class="col-12">
                    <span class="text-right">Total: </span>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include("./partials/Footer.ejs") %>
