<%- include('./partials/Head.ejs') %> 
<%- include('./partials/Header.ejs') %>  

<div class="row">
    <div class="container">
        <h1 class="text-center">Gestión de usuario</h1>
    </div>
</div>



<%- include('./partials/Footer.ejs') %>  